div.header-nav-slider-block
    div.nav-slider-container(class=(fixHeader) ? "top-fix" : "")
        div.brand-name-block
            a.site-logo(href="/?lang=#{lang}")
                img.white-brand-name(src='/img/site/brand-name-white.png')
                img.black-brand-name(src='/img/site/brand-name-black.png')
        nav.page-navigation.clearfix
            ul.navigation-items
                li
                    a(href="/about?lang=#{lang}", class=(page == 'home') ? "active-nav" : "")=_tr.about
                li
                    a(href="/successes?lang=#{lang}" class=(page == 'services') ? "active-nav" : "")=_tr.services
                li
                    a(href="/portfolio?lang=#{lang}" class=(page == 'portfolio') ? "active-nav" : "")=_tr.portfolio
                li
                    a(href="/covers?lang=#{lang}" class=(page == 'covers') ? "active-nav" : "")=_tr.covers
                li
                    a(href="/contacts?lang=#{lang}" class=(page == 'contacts') ? "active-nav" : "")=_tr.team

nav
    ul.cd-primary-nav
        li
            a(href="/about?lang=#{lang}", class="active-nav")=_tr.about
        li
            a(href="/successes?lang=#{lang}")=_tr.services
        li
            a(href="/portfolio?lang=#{lang}")=_tr.portfolio
        li
            a(href="/covers?lang=#{lang}")=_tr.covers
        li
            a(href="/contacts?lang=#{lang}")=_tr.team
        li
            a.language.en(data-lang="en") Eng
            a.language.ru(data-lang="ru") Рус
.cd-overlay-nav
    span
.cd-overlay-content
    span
span.cd-nav-trigger#nav-hamburger(class=(fixHeader) ? "top-black" : "")
    | Menu
    span
    span
    span
    span
